p{color:violet}

.violet{color:blueviolet}

.alturafonte{font-weight: 900;}

.tamanhofonte{font-size: 20px;}

.familiafonte{font-family: Georgia, 'Times New Roman', Times, serif;}

.minhacor{color:coral}

.corfundo{background-color: yellow;}